<h1>Who am I?</h1>
<br><br>
<div>
    <p>My name is Jamie, and I am a junior Ruby on Rails developer. 
        I have worked professionally with rails in the past, and am now looking for my next 
            opportunity to grow as a developer!</p>
</div>

